# Project 18

Natalie McGuckin

Consider the election data stored at: 
    /depot/statclass/data/election2018/itcont.txt   
The data set is very large.  You might choose to analyze a smaller 
portion of the data initially, 
and then to run your code on the full data set, once you have the code 
working correctly. 

Sometimes there will be warnings in Jupyter Notebooks, and you need to 
scroll past the warnings, 
to see the results of your analysis.  This is a known issue with Jupyter 
Notebooks, and 
other people are experiencing it too: 
https://github.com/IRkernel/IRkernel/issues/590 

Recall that the data dictionary for the data is found here: 
https://www.fec.gov/campaign-finance-data/contributions-individuals-file-description

**1a.**  The first column contains the "Filer identification number" for 
various committees. 
     Which of these committees received the largest monetary amount of 
donations?

In [20]:
myDF = read.table("/depot/statclass/data/election2018/itcont.txt",sep="|", fill = T,quote='')

In [21]:
tail(sort(tapply(myDF$V15,myDF$V1,sum, na.rm=TRUE)))

ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_markdown.integer(obj)
9. repr_vector_generic(html_escape_names(obj), "%s. %s\n", "%s\n:   %s",
 .     "**%s:** %s", "%s\n\n", item_uses_numbers = TRUE, escape_fun = html_escape)
10. html_escape_names(obj)
11. .escape_names(obj, "html")
12. colnames(obj)
ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_latex.integer(obj)
9. repr_vector_generic(latex_escape_names(obj), "\\item %s\n", "\\item[%s] %s\n",
 .     "\\textbf{%s:} %s", enum_wrap = "\\begin{enumerate*}\n%s\\end{enumerate*}\n",
 .     named_wrap = "\\begin{description*}\n%s\\end{description*}\n",
 .     only_named_item = "\\textbf{%s:} %s", escape_fun = latex_escape)
10. latex_escape_names(obj)
11. .escape_names(obj, "latex")
12. colnames(obj)

C00000935 C00571703 C00003418 C00484642 C00504530 C00401224
109327405 114336858 116710927 130390881 133582635 564924013

Using shortfile to get smaller portion of data.


tapply will split the donation amounts by each committee. for each unqiue entry, use sum that adds up each amount of $. Then sort, least the greatest, then tail to get very last 
C00000401224 is the largest donation.

**1b.**  Use the tapply function to make a matrix 
     whose rows correspond to states, 
     whose columns correspond to the "filer identification numbers" of 
committees, 
     and whose entries contain the total amount of the donations given 
     to the committees, by donors from each individual state. 
     Hint:  Wrap the states and the filer identification numbers into a 
list. 
     Print the block of first 10 rows and 10 columns, so that the TA's 
can see the results of your work.

In [22]:
tapply(myDF$V15,list(myDF$V10,myDF$V1),sum,na.rm=TRUE)[1:10,1:10]

   C00000059 C00000422 C00000638 C00000729 C00000885 C00000901 C00000935
    NA          NA     NA           NA        NA          0      174182
AA  NA          NA     NA           NA        NA         NA       15336
AE  NA          NA     NA           NA        NA         NA       13122
AK  NA        5148     NA         4384      1985      23135      175850
AL  NA        7152     NA         9722      1868     103106      407595
AP  NA          NA     NA           NA        NA         NA        4705
AR 420        9994     NA         5750      1406      13910      183457
AS  NA          NA     NA           NA        NA         NA          NA
AZ  NA       10074     NA        26778       615      17040     1222814
CA  NA       89498     NA        41752     31705     108253    28039367
   C00000984 C00001016 C00001180
     NA          NA    NA
AA   NA          NA    NA
AE   NA          NA    NA
AK   NA        8674    NA
AL   NA       13518    NA
AP   NA          NA    NA
AR 5000       12730    NA
AS   NA          NA    NA
AZ   NA       12488    NA
CA 5000      256676    NA

broke up the dollar amounts by each unique pair of state and committee

**2.**   For this question, be sure to take into account the city and state 
(together). 

**2a.**  Identify the six cities that made the largest number of donations.

In [23]:
myDF$citystate=paste(myDF$V9,myDF$V10)

In [24]:
tail(sort(table(myDF$citystate)))

 PHILADELPHIA PA       HOUSTON TX   LOS ANGELES CA SAN FRANCISCO CA
          191667           208899           208984           210446
   WASHINGTON DC      NEW YORK NY
          372369           592322

used paste because it combined the 2 columns and returned one column with both material. 

pulled data to get the answer, seperated the answer by city, state

**2b.**  Identify the six cities that made the largest monetary amount of funding 
donated.

In [25]:
tail(sort(tapply(myDF$V15,myDF$citystate,sum, na.rm=TRUE)))

ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_markdown.integer(obj)
9. repr_vector_generic(html_escape_names(obj), "%s. %s\n", "%s\n:   %s",
 .     "**%s:** %s", "%s\n\n", item_uses_numbers = TRUE, escape_fun = html_escape)
10. html_escape_names(obj)
11. .escape_names(obj, "html")
12. colnames(obj)
ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_latex.integer(obj)
9. repr_vector_generic(latex_escape_names(obj), "\\item %s\n", "\\item[%s] %s\n",
 .     "\\textbf{%s:} %s", enum_wrap = "\\begin{enumerate*}\n%s\\end{enumerate*}\n",
 .     named_wrap = "\\begin{description*}\n%s\\end{description*}\n",
 .     only_named_item = "\\textbf{%s:} %s", escape_fun = latex_escape)
10. latex_escape_names(obj)
11. .escape_names(obj, "latex")
12. colnames(obj)

      HOUSTON TX       CHICAGO IL     LAS VEGAS NV SAN FRANCISCO CA
        85003545         98343500        141422236        163853352
   WASHINGTON DC      NEW YORK NY
       331998039        385215885

used tapply split the data up according to city state.

**3a.**  Split the data (using the split command) about the 
donations, 
     according to the day when the transaction was made.

In [26]:
myresult=split(myDF$V15,myDF$V14)

Split up donations by the day they were made.

Once this split is accomplished, use the sapply function to find 
the following: 

**3b.**  On which day was the total monetary amount of donations the largest?

In [27]:
tail(sort(sapply(myresult,sum)))

10092018  8312018  9302018 10172018 10052018  9122018
40567609 42082139 50721338 54328130 67842423 70281892

tail allows to view the end results

**3c.**  On which day was the largest number of donations made?

In [28]:
tail(sort(sapply(myresult,length)))

 7312018 10172018 12312017  8312018 11302017  9302018
  127886   135441   148407   157369   169518   231400

Length returns the number of donations.